nav {
    position:fixed;
    z-index: 999;
    display:flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    top:0;
    font-size: 1.2rem;
    background: url('https://a-static.besthdwallpaper.com/rick-and-morty-in-space-wallpaper-2560x1440-89883_51.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: .5rem;
    border: 2px solid #fff;
    transition: 1s;
}

nav a:hover {
    background-color: black;
    color:white;
    transform: scale(1.1);
}

nav h2 {
    color: white;
}