nav {
    position:fixed;
    z-index: 999;
    display:flex;
    width: 20%;
    height: 100%;
    top:0;
    font-size: 1.3rem;
    background: url('https://a-static.besthdwallpaper.com/rick-and-morty-in-space-wallpaper-2560x1440-89883_51.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav a {
    text-decoration: none;
    color: #fff;

}