.episode-card-container{
    color: white;
    border: 1px solid white;
}

.episode-page-container a{
    text-decoration: none;
}

.episode-card-container:hover{
    transform:scale(1.1);
    background-color: black;
}