.signup-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

.form-container form button {
    grid-column: 1 / span 2;
    min-width: 100%;
}