.audio-container{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
}

.audio-container h2{
    color:white;
}

.audio-container select{
    font-size: 1.5rem;
}

.audio-container audio{
    width: 250px;
    height: 30px;
}

